.entirety{
	margin-top: 10%;
	margin-bottom: 10%;
	margin-right: 20%;
	margin-left: 20%;
	background-color: #dde2eb;
	color: #454e5c;
}
.listless{
	border-style:dashed;
	border-width: 1px;
	color: #5a6d8c !important;
}
.bolder{
	font-family: Times New Roman;
}

